.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.categories .category-card {
  width: calc(50% - 15px);
  position: relative;
  cursor: pointer;
}

.categories .category-card img {
  width: 100%;
  object-fit: cover;
}

.categories .category-card h2 {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: var(--white);
  font-size: 24px;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .categories {
    gap: 20px;
  }

  .categories .category-card {
    width: calc(50% - 10px);
  }

  .categories .category-card h2 {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  .categories {
    gap: 15px;
  }

  .categories .category-card {
    width: calc(100% - 15px);
  }

  .categories .category-card h2 {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .categories {
    gap: 10px;
  }

  .categories .category-card {
    width: 100%;
  }

  .categories .category-card h2 {
    font-size: 18px;
    text-align: center;
  }
}
